.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 23px;
}

.header__part{
  display: flex;
  align-items: center;
}

.header__part--align--right{
  justify-content: flex-end
}