.social-networks{
  margin-right: 75px;
}

.social-networks__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.social-networks__item:last-child{
  margin-right: 0px;
}

.social-networks__link{
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  border-radius: 50%;
}

.social-networks__item--icon--telegram .social-networks__link{
  background: url(../../../images/networks/network_sprites.png) -234px -10px;
  transition: .3s;
}

.social-networks__item--icon--telegram .social-networks__link:hover{
  background: url(../../../images/networks/network_sprites.png) -290px -10px;
  transition: .3s;
}

.social-networks__item--icon--vk .social-networks__link{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -346px -10px;
  transition: .3s;
}

.social-networks__item--icon--vk .social-networks__link:hover{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -402px -10px;
  transition: .3s;
}

.social-networks__item--icon--facebook .social-networks__link{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -10px -10px;
  transition: .3s;
}

.social-networks__item--icon--facebook .social-networks__link:hover{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -66px -10px;
  transition: .3s;
}

.social-networks__item--icon--instagram .social-networks__link{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -122px -10px;
  transition: .3s;
}

.social-networks__item--icon--instagram .social-networks__link:hover{
  width: 36px; height: 36px;
  background: url(../../../images/networks/network_sprites.png) -178px -10px;
  transition: .3s;
}