.breadcrumbs__list{
  display: flex;
  align-items: center;
}

.breadcrumbs__link{
  text-decoration-line: underline;
  color: #dfb56d;
  font-size: 14px;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.breadcrumbs__item:last-child {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

.breadcrumbs__item--activ .breadcrumbs__link{
  color: #9A9A9A;
  text-decoration: none;
}

.breadcrumbs__item::after{
  content: "/";
  color: #9a9a9a;
  padding-left: 2px;
}

.breadcrumbs__item:last-child::after{
  display: none;
  padding-left: 0px;
}